button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

#first {
    color: rgb(255,255,255);
    background-color: #000000;
}

#second {
    background-color: #cadc3f;
}